body {
    background-image: url(gato.png);
    background-color: lightblue;
    background-repeat: no-repeat;
    min-height: 90vh;
    background-position: right bottom;
}

#a {
    background-color: salmon;
}

#b {
    background-color: gray;
    background-image: url(gato_pequeno.png);
    background-repeat: repeat;
    color: blue;
}

#c {
    background-color: lightgreen;
    opacity: 0.7;
}