#a {
    background-color: lightblue;
}

#b {
    font-family: 'Abel', sans-serif;
}

#c {
    color: red;
}

#d {
    background-color: lightcoral;
}

#e {
    font-family: 'Borel', cursive;
}

#f {
    background-color: lightgreen;
}

#g {
    font-family: 'Crimson Text', serif;
}

#h {
    background-color: lightgrey;
}

#i {    
    font-family: 'Handjet', cursive;
}
