body{
    background: linear-gradient( 50deg, lightblue, lightyellow, lightgreen );
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    width: 75px;
    height: 75px;
}

label{
    
}

#identar{
    text-align: center;
}

