body{
    background-color: skyblue;
}

#e td{
    border: solid 1px red;
    padding: 30px 60px;
    text-align: center;
}

#a {
    background-color: green;
}

#b {
    background-color: red;
}

#c{
    background-color: blue;
}

#d{
    background-color: yellow;
}

#f td{
    border: solid 1px red;
    padding: 5px 20px;
    text-align: center;
}